.material-symbols-sharp {
    font-size: 104px;
  font-variation-settings: 
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 96;    /* Optical size (e.g., 16, 24, 32, 48, 96) */
}

* {
    margin: 0px;
}

body {
    margin: 20px;
    box-sizing: border-box;
}

p {
    margin: 5px;
}

.board {
    display: flex;
    width: 500px;
    height: 500px;
    gap: 10px;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex: 1;
}

.cell {
    background-color: bisque;
    flex: 1;
    border: black solid 1px;
    text-align: center;
    align-content: center;
}

button {
    margin: 10px 0px;
}